* {
	box-sizing: border-box;
	border: 0;
}

body {
	font-family: 'DM Sans', sans-serif;
}

.sr-only {
  position: absolute;
  top: -9999px;
  left: -9999px;
  z-index: -1;
  width: 1px;
  height: 1px;
  overflow: hidden;
  visibility: hidden;
}

/* Reset CSS */
a {
	color: inherit;
	text-decoration: none;
}

button, 
input, 
stextarea {
	font-family: 'DM Sans', sans-serif;
	font-size: 16px;
}

button:focus,
button:active,
input:focus,
input:active,
textarea:focus,
textarea:active {
	outline: none;
	box-shadow: none;
}

ul,
ol,
li {
	list-style-type: none;
	padding-left: 0;
	margin-left: 0;
}

p {
	font-size: 16px;
	line-height: 24px;
	color: #2B292D;
	letter-spacing: -0.01em;
}
